# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pydistutils.cfg
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# VS Code
.vscode/


# Model files
yolov5s.pt
yolov5x.pt